@import url('https://fonts.googleapis.com/css2?family=Overpass');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;

}
.close,
.navbar-toggler:not(.collapsed) .open{
  display: none;
}

.navbar-toggler:not(.collapsed) .close{
  display: inline;
}

h1 {
  font-weight: 900;
  font-size: 1.5rem;
  font-family: 'Overpass', sans-serif;
}

.heading {
  text-align: center;
  color: white;
  font-size: 4rem;
  margin-top: 10%;
}

.sub-heading {
  text-align: center;
  color: white;
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 2%;

}

p {
  font-family: 'Ubuntu', sans-serif;

}

.illustration-top {
  height: 800px;
  width: 800px;
  right:-300px;
  position: relative;
}

.laptop-illustration {
  height: 800px;
  width: 800px;
  position: relative;
  left:-450px
}

.top-section {

  background-image: url('./images/bg-pattern-intro-desktop.svg'), linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  padding-bottom: 10%;
  background-repeat: no-repeat;
  background-position: -400px -1300px, 0px 0px;
  border-bottom-left-radius: 80px;
  font-family: 'Overpass', sans-serif;

}

a.nav-link {
  color: white;
}
a.dropdown-item:hover{
  font-weight: bold;
}

.nav-item {
  padding:5%;
  margin: 10% 5% 0% 5%;
}

.signup-button,
.start-button {
  background-color: white;
  border: none;
  border-radius: 25px;
  height: 50px;
  width: 130px;
  color:hsl(353, 100%, 62%);
  font-weight: bold;
}

.learn-button {
  background: rgba(255, 255, 255, 0.1);
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 25px;
  height: 50px;
  width: 130px;
  color: white;
  margin-left: 1%;
}


.infrastructure-section-left{
  background-color: hsl(237, 23%, 32%);
}
.infrastructure-section-right{
  background-color: hsl(237, 23%, 32%);
  color:white;
  height:600px;
  display:block;

}


.footer {
  height: 300px;
  background-color:  hsl(240, 10%, 16%);
  display: flex;
  color: white;
  justify-content: center;
  border-radius: 0% 60px 0% 0%;

}

.bottom-logo {
  height: 30px;
  margin-top: 10%;
  margin-right: 5%;
}

li {
  list-style: none;
}

.footer-item {
  padding: 5%;
}
